<div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <h3>N'afficher que les passagers :</h3>

    <button (click)="getSurvivors('0')" class="btn btn-outline-secondary">
      Décédés
    </button>
    <button (click)="getSurvivors('1')" class="btn btn-outline-secondary">
      Survivants
    </button>
    <button (click)="all()" class="btn btn-outline-secondary">Tous</button>
  </div>
  <p>Il y en a eu {{ quantity }}</p>
</div>
<ul *ngIf="titanicPassengers" class="list-group list-group-flush">
  <li *ngFor="let passenger of titanicPassengers" class="card list-group-item">
    <h2>{{ passenger.Name }}</h2>
    <!-- [ngSwitch] me permet de changer le <p> en fonction du sexe de la personne -->
    <p [ngSwitch]="passenger.Sex">
      <ng-template ngSwitchCase="female">
        {{ passenger.Name }}, de sexe féminin, avait {{ passenger.Age }} ans
        lors du naufrage du Titanic, et voyageais en
        <!-- Je vais remettre un ng-template switch case pour l'affichage de la première deuxième et troisième classe -->
        <span [ngSwitch]="passenger.Pclass">
          <ng-template ngSwitchCase="1">première</ng-template>
          <ng-template ngSwitchCase="2">deuxième</ng-template>
          <ng-template ngSwitchCase="3">troisième</ng-template>
        </span>
        classe.</ng-template
      >
      <ng-template ngSwitchCase="male">
        {{ passenger.Name }}, de sexe masculin, avait {{ passenger.Age }} ans
        lors du naufrage du Titanic, et voyageait en
        <!-- Je vais remettre un ng-template switch case pour l'affichage de la première deuxième et troisième classe -->
        <span [ngSwitch]="passenger.Pclass">
          <ng-template ngSwitchCase="1">première</ng-template>
          <ng-template ngSwitchCase="2">deuxième</ng-template>
          <ng-template ngSwitchCase="3">troisième</ng-template>
        </span>
        classe.
      </ng-template>
    </p>
    <!-- FIN du switch -->
  </li>
</ul>
